<div class="container-fluid" style="background-color:lavenderblush;height:80vh">
  <h2 class="text-center pt-2">TABLE</h2>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-dark table-bordered">

      <caption id='tableCaption'>{{users.length}} entries found.</caption>

      <thead class="thead-light">
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone No.</th>
          <th>Gender</th>
          <th>Category</th>
          <th>Technology</th>
          <th>Photo</th>
        </tr>
      </thead>

      <tbody id="tableData">
        <tr *ngFor='let user of users;let i = index'>
          <td>{{i + 1}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.category}}</td>
          <td>{{user.tech}}</td>
          <td><img [src]="user.photo64" height='50' alt="NA"></td>
        </tr>
      </tbody>

    </table>
  </div>

</div>