button.orange {
  background-color: rgb(255, 166, 0);
}
h3.orange,div.orange, .col-md-3 .orange {
  color: rgb(255, 166, 0);
}
.white {
  color:white;
}
.blue {
  color:rgb(0, 116, 194);
}
.navbar .btn{
  margin-top:5px
}

.carousel-inner img {
  width:100%;
  height:100%;
}

.impact {
  font-family: Impact, Charcoal, sans-serif;
}
.item{
  background-color:#ccc;
  display:block;
}

#carousel .carousel-caption{
  color:#000;
  position:static;
}

.img-area{
  width: 100px;
  height: 100px;
  margin:auto;
  border:2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
