.header {
  background: rgb(38, 47, 95);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.header a {
  color: #fff;
  text-decoration: none;
}

h1 {
  padding-bottom: 1.5rem;
}

nav {
  padding-bottom: 0.5rem;
}

span {
  padding-left: 3rem;
  padding-right: 3rem;
}